
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Paneli</title>
    <link rel="stylesheet" href="~/Content/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Content/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Content/assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="~/Content/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/Content/assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    <link rel="shortcut icon" href="~/Content/assets/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
                <a class="sidebar-brand brand-logo" href="index.html"><img src="~/Content/assets/images/logo.svg" alt="logo" /></a>
                <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="~/Content/assets/images/logo-mini.svg" alt="logo" /></a>
            </div>
            <ul class="nav">
                <li class="nav-item profile">
                    <div class="profile-desc">
                        <div class="profile-pic">
                            <div class="count-indicator">
                                <img class="img-xs rounded-circle " src="~/Content/assets/images/faces/profilfoto.png" alt="">
                                <span class="count bg-success"></span>
                            </div>
                            <div class="profile-name">
                                <h5 class="mb-0 font-weight-normal">Hatice İkkan</h5>
                                <span>Kurucu Admin</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item nav-category">
                    <span class="nav-link">Menü</span>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" href="@Url.Action("Index","Admin")">
                        <span class="menu-icon">
                            <i class="mdi mdi-speedometer"></i>
                        </span>
                        <span class="menu-title">Admin İşlemleri</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" href="@Url.Action("UyelerIndex","Admin")">
                        <span class="menu-icon">
                            <i class="mdi mdi-account-circle"></i>
                        </span>
                        <span class="menu-title">Üye İşlemleri</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" href="@Url.Action("UrunlerIndex","Admin")">
                        <span class="menu-icon">
                            <i class="mdi mdi-table-large"></i>
                        </span>
                        <span class="menu-title">Ürün İşlemleri</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" href="@Url.Action("BlogIndex","Admin")">
                        <span class="menu-icon">
                            <i class="mdi mdi-blogger"></i>
                        </span>
                        <span class="menu-title">Blog İşlemleri</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_navbar.html -->
            <nav class="navbar p-0 fixed-top d-flex flex-row">
                <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                    <a class="navbar-brand brand-logo-mini" href="#"><img src="~/Content/assets/images/logo-mini.svg" alt="logo" /></a>
                </div>
                <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="mdi mdi-menu"></span>
                    </button>
                    <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item dropdown">
                            <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                                <div class="navbar-profile">
                                    <img class="img-xs rounded-circle" src="~/Content/assets/images/faces/profilfoto.png" alt="">
                                    <p class="mb-0 d-none d-sm-block navbar-profile-name">Hatice İkkan</p>
                                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                                <h6 class="p-3 mb-0">Profil</h6>
                                <div class="dropdown-divider"></div>

                                <div class="dropdown-divider"></div>
                                <a href="@Url.Action("guv_cik","Admin")" class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-logout text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p  class="preview-subject mb-1">Çıkış Yap</p>
                                    </div>
                                </a>

                            </div>
                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                        <span class="mdi mdi-format-line-spacing"></span>
                    </button>
                </div>
            </nav>

            @RenderBody()

        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <script src="~/Content/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/Content/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="~/Content/assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="~/Content/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="~/Content/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/Content/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <script src="~/Content/assets/js/off-canvas.js"></script>
    <script src="~/Content/assets/js/hoverable-collapse.js"></script>
    <script src="~/Content/assets/js/misc.js"></script>
    <script src="~/Content/assets/js/settings.js"></script>
    <script src="~/Content/assets/js/todolist.js"></script>
    <script src="~/Content/assets/js/dashboard.js"></script>
</body>
</html>