@model IEnumerable<Hatice_ikkan.Models.Blog>

@{
    ViewBag.Title = "BlogIndex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-panel">
    <br />
    <p>
        @Html.ActionLink("Yeni Blog", "BlogCreate", new { @class = "btn btn-success" })
    </p>
    <br />
    <div class="table-responsive">
        <table class="table table-striped">
            @foreach (var item in Model)
            {
                <tr>
                    <th>Blog Id</th>
                    <td> @Html.DisplayFor(modelItem => item.Blog_id) </td>
                </tr>
                <tr>
                    <th>Blog Başlık</th>
                    <td>@Html.DisplayFor(modelItem => item.Blog_Baslık)</td>
                </tr>
                <tr>
                    <th>Blog Özet</th>
                    <td>@Html.DisplayFor(modelItem => item.Blog_Ozet)</td>
                </tr>
                <tr>
                    <th>Blog Açıklama</th>
                    <td>@Html.DisplayFor(modelItem => item.Blog_Acıklama)</td>
                </tr>
                <tr>
                    <th>Blog Resmi </th>
                    <td><img src="~/blog_resimleri/@item.Blog_Resmi" /></td>
                </tr>
                <tr>
                    <th>Blog Yazar</th>
                    <td>@Html.DisplayFor(modelItem => item.Yoneticiler.Y_Kullanici_Adi)</td>
                </tr>
                <tr>
                    <th>Yapılacak İşlem</th>
                    <td>
                        @Html.ActionLink("Güncelle", "BlogEdit", new { id = item.Blog_id }) |
                        @Html.ActionLink("Detay", "BlogDetails", new { id = item.Blog_id }) |
                        @Html.ActionLink("Sil", "BlogDelete", new { id = item.Blog_id })
                    </td>
                </tr>
                <tr>
                    <th> </th>
                    <td> </td>
                </tr>
            }
        </table>
    </div>
</div>